{% extends 'base.twig' %}

{% block header %}
<table width=100%><tr>
    <td>
        <div class=buttons>
            <a href="{{ linkSay }}">發言</a>&nbsp;&nbsp;
            <a href="{{ linkPrev }}">上一頁</a>&nbsp;&nbsp;
            <a href="{{ linkForumHome }}">首頁</a>&nbsp;&nbsp;
            <a href="{{ linkHome }}">主頁</a>
        </div>
    </td>
    <td align=right>
        <div class=text>心意就如密友，長路裏相伴漫遊。</div>
    </td>
</tr></table><br>
{% endblock %}

{% block content %}
    <div class="posts">
        {% for postSummary in postSummaries %}
            <div class="post level-{{ postSummary.level }}">
                {{ str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;', postSummary.level) | raw }}
                <a href="{{ linkTo('post', postSummary.id) }}">{{ postSummary.title }}</a>
                {% if postSummary.level == 0 %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--
                {% else %}
                &nbsp;&nbsp;&nbsp;&nbsp;--
                {% endif %}
                {{ postSummary.author }} at {{ postSummary.time }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
<table width=100%><tr align=top><td>
    <div class=buttons>
        <a href="{{ linkSay }}">發言</a>&nbsp;&nbsp;
        <a href="{{ linkNext }}">下一頁</a>&nbsp;&nbsp;
        <a href="{{ linkForumHome }}">首頁</a>&nbsp;&nbsp;
        <a href="{{ linkHome }}">回主頁</a>
    </div>
</td><td align=right>漫長漫長夜間，我伴我閒談；漫長漫長夜晚，從未覺是冷。</td></tr></table>
{% endblock %}