{% extends 'base.twig' %}

{% block content %}
<form class="post-form" method="POST" action="{{ linkTo('post', postID, action) }}">
    <div class="field-wrapper field-name">
        <label for="{{ configs.formPostAuthor }}">你的名字</label>
        <input
            type="text"
            id="{{ configs.formPostAuthor }}"
            name="{{ configs.formPostAuthor }}"
            value="{{ post.author }}"
            size="40"
        >
    </div>
    <div class="field-wrapper field-title">
        <label for="{{ configs.formPostTitle }}">主題</label>
        <input
            type="text"
            id="{{ configs.formPostTitle }}"
            name="{{ configs.formPostTitle }}"
            value="{{ post.safeTitle() }}"
            size="40"
        >
    </div>
    <div class="field-wrapper field-body">
        <textarea
            id="{{ configs.formPostBody }}"
            name="{{ configs.formPostBody }}"
            rows="30"
            cols="80"
        >{{ post.safeBody() }}</textarea>
    </div>
    <div class="actions">
        <button type="submit">發出</button>
    </div>
</form>
{% endblock %}
